.banner {
  display: flex;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
  filter: opacity(60%) !important;
}

.banner {
  h1 {
    color: $red;
  }
  p {
    color: $orange
  }
  a {
    color: $gray;
  }
  a:hover {
    background-color: $bluegreen;
  }
}
