.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: $pink;
  padding: 10px 0px;

  a {
    color: $darkblue;
  }
  a:hover {
    color: $orange;
  }
}
