// Define variables for your color scheme

// For example:
$red: #FF0000;
$blue: #45FFF1;
$yellow: #F2FF50;
$orange: #E67E22;
$green: #B8FE7F;
$gray: #c3c3c3;
$light-gray: #F1F1F1;
$pink: #FF4BEA;
$bluegreen: #00A699;
$darkblue: #1523FF
